svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
.hexagons1{
  fill: transparent;
  stroke: none;
}

.hexagons1 text {
  font-size: 0.2em;
  fill: black;
  font-weight: 550;
  padding-bottom: -10;
}


.hexagons1-emphatize {
  fill: transparent;
  fill-opacity: 0.6;
  cursor: pointer;
}

.hexagons1-emphatize:hover {
  fill: #7be3f6;
  fill-opacity: 0.1;
}

.hexagons1-emphatize:hover text {
  fill-opacity: 1;
}

.hexagons1-emphatize polygon {
  stroke: #63B1E5;
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons1-emphatize text {
  font-size: 0.3em;
  fill: black;
  font-weight: bold;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}


.hexagons1-define {
  fill: transparent;
  fill-opacity: 0.6;
  cursor: pointer;
}

.hexagons1-define:hover {
  fill: #64a464;
  fill-opacity: 0.1;
}

.hexagons1-define:hover text {
  fill-opacity: 1;
}

.hexagons1-define polygon {
  stroke: #34B234; 
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons1-define text {
  font-size: 0.3em;
  fill: black;
  font-weight: bold;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}


.hexagons1-ideate {
  fill: transparent;
  fill-opacity: 0.6;
  cursor: pointer;
}

.hexagons1-ideate:hover {
  fill: #be4f8c;
  fill-opacity: 0.1;
}

.hexagons1-ideate:hover text {
  fill-opacity: 1;
}

.hexagons1-ideate polygon {
  stroke: #CF0071;
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons1-ideate text {
  font-size: 0.3em;
  font-weight: bold;
  fill: black;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}


.hexGrid{}

.hexLayout{}