svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/

.hexagons3{
  fill: transparent;
  stroke: none;
}

.hexagons3 text {
  font-size: 0.2em;
  fill: black;
  font-weight: 550;
  /* padding-bottom: -10; */
}

.hexagons3-emphatize {
  fill: #175E8D;
  fill-opacity: 1;
  cursor: pointer;
}

.hexagons3-emphatize:hover {
  fill: #175E8D;
  fill-opacity: 0.7;
}

.hexagons3-emphatize:hover text {
  fill-opacity: 1;
}

.hexagons3-emphatize polygon {
  stroke: #63B1E5;
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons3-emphatize text {
  font-size: 0.3em;
  fill: white;
  font-weight: bold;
  fill-opacity: 1;
  transition: fill-opacity .5s;
}


.hexagons3-define {
  fill: #1A591A;
  fill-opacity: 1;
  cursor: pointer;
}

.hexagons3-define:hover {
  fill: #1A591A;
  fill-opacity: 0.7;
}

.hexagons3-define:hover text {
  fill-opacity: 1;
}

.hexagons3-define polygon {
  stroke: #34B234; 
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons3-define text {
  font-size: 0.3em;
  fill: white;
  font-weight: bold;
  fill-opacity: 1;
  transition: fill-opacity .5s;
}


.hexagons3-ideate {
  fill: #680039;
  fill-opacity: 1;
  cursor: pointer;
}

.hexagons3-ideate:hover {
  fill: #680039;
  fill-opacity: 0.7;
}

.hexagons3-ideate:hover text {
  fill-opacity: 1;
}

.hexagons3-ideate polygon {
  stroke: #CF0071;
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons3-ideate text {
  font-size: 0.3em;
  font-weight: bold;
  fill: white;
  fill-opacity: 1;
  transition: fill-opacity .5s;
}

.hexagons3-prototype {
  fill: #7F6800;
  fill-opacity: 1;
  cursor: pointer;
}

.hexagons3-prototype:hover {
  fill: #7F6800;
  fill-opacity: 0.7;
}

.hexagons3-prototype:hover text {
  fill-opacity: 1;
}

.hexagons3-prototype polygon {
  stroke: #FED100;
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons3-prototype text {
  font-size: 0.3em;
  font-weight: bold;
  fill: white;
  fill-opacity: 1;
  transition: fill-opacity .5s;
}


.hexagons3-test {
  fill: #763C04;
  fill-opacity: 1;
  cursor: pointer;
}

.hexagons3-test:hover {
  fill: #763C04;
  fill-opacity: 0.7;
}

.hexagons3-test:hover text {
  fill-opacity: 1;
}

.hexagons3-test polygon {
  stroke: #EC7907;
  stroke-width: 1;
  /* transition: fill-opacity .5s; */
}

.hexagons3-test text {
  font-size: 0.3em;
  font-weight: bold;
  fill: white;
  fill-opacity: 1;
  transition: fill-opacity .5s;
}

.hexGrid{}

.hexLayout{}